<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>PictureDay - Cadastro</title>
    <link rel="stylesheet" href="static/style_cadastro.css">
    <link rel="stylesheet" href="static/pyscript.css" />
</head>
<body>
    <div class="register-box">
        <div class="register-form">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/The_Fall_of_Icarus_%28SM_1689%29.png/1200px-The_Fall_of_Icarus_%28SM_1689%29.png" alt="ICARUS Logo" width="220" height="220">
            <h1>Cadastro</h1>
            <form>
                <label for="nome">Nome completo:</label>
                <input type="text" name="nome" required>
                <label for="email">E-mail:</label>
                <input type="email" name="email" required>
                <label for="senha">Senha:</label>
                <input type="password" name="senha" required>
                <label for="confirm-senha">Confirmar senha:</label>
                <input type="password" name="confirm-senha" required>
                <button type="submit">Enviar cadastro</button>
            </form>
        </div>
    </div>
</body>
</html>
