<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PictuteDay - Home</title>
    <link rel="stylesheet" href="static/style_home.css">
    <link rel="stylesheet" href="static/pyscript.css" />
</head>
<body>
    <div class="index-box">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/The_Fall_of_Icarus_%28SM_1689%29.png/1200px-The_Fall_of_Icarus_%28SM_1689%29.png" alt="ICARUS Logo" width="300" height="300">
        <h1>Bem-vindo ao PictureDay</h1>
        <p>API de consumo da APOD: Astronomy Picture of the Day da NASA</p>
        <a href="/login">Àrea de Login</a>
    </div>
</body>
</html>
